<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare the 'RECORD_AUDIO' and 'INTERNET' permissions if you use Speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Declare the 'ACCESS_COARSE_LOCATION' and 'ACCESS_FINE_LOCATION' permissions
    if you use True North detection -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- For apps targeting Android 11 (API level 30) or above, interaction with a speech recognition
    service requires element to be added to the manifest file: -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
        To allow your scanning Activity to consume more RAM, to lock screen orientation to
        landscape and to prevent multiple onCreate() calls add the following code to your inside
        your scanning Activity's activity tag:

        android:configChanges="orientation|screenSize"
        android:largeHeap="true"
        android:screenOrientation="landscape"
        -->
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:largeHeap="true"
            android:screenOrientation="landscape" />
        
        <activity
            android:name=".ScanInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- "AR Required" app, requires "Google Play Services for AR" (ARCore)
         to be installed, as the app does not include any non-AR features. -->
        <meta-data android:name="com.google.ar.core" android:value="required" />

    </application>

</manifest>